* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #9b9b9b;
}
h1 {
  font-weight: 700;
  color: white;
  margin-block: 25px;
  @media (max-width: 576px) {
    font-size: 22px;
    margin-block: 15px;
  }
}
.search-bar {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  form {
    display: flex;
  }
  input {
    padding: 15px;
    outline: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    font-size: 18px;
    width: 400px;
    cursor: pointer;
    @media (max-width: 576px) {
      width: 280px;
    }
  }
  button {
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
  }
}
.card {
  display: flex;
  gap: 35px;
  position: absolute;
  bottom: -32%;
  padding: 35px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  z-index: 1;
  @media (max-width: 991px) {
    flex-wrap: wrap;
    width: 80%;
    bottom: -48%;
  }
  @media (max-width: 576px) {
    flex-direction: column;
    padding: 10px;
    bottom: -51%;
    gap: 10px;
  }
}
.card-item {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  width: 100%;
  &:last-child {
    border-right: none;
  }
  @media (max-width: 991px) {
    flex-basis: 45%;
    &:nth-child(2) {
      border-right: none;
    }
  }
  @media (max-width: 576px) {
    border-right: none;
  }
}
.card-title {
  margin-bottom: 10px;
  p {
    font-size: 12px;
    text-transform: uppercase;
  }
}
.card-content {
  p {
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
}
.leaflet-container {
  height: calc(100vh - 250px);
  z-index: 0;
}
